@font-face {
    font-family: PressStart2P;
    src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: PixelifySans;
    src: url('../fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf');
}

@font-face {
    font-family: DeterminationSans;
    src: url('../fonts/Determination-Sans-Web-Regular/determinationsansweb-webfont.ttf');
}

@font-face {
    font-family: DeterminationMono;
    src: url('../fonts/Determination-Sans-Web-Regular/determinationmonoweb-webfont.ttf');
}

@font-face {
    font-family: SilverFont;
    src: url('../fonts/Silver.ttf');
}

body {
    font-family: SilverFont;
    background: linear-gradient(#FFF3F9 0%, #f8f8f8 50%, #f4e0f9 100%);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header */
#title-bar {
    background: linear-gradient(to right, #ffcbe5 0%, #f8f8f8 50%, #f7d6ff 100%);
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1%;
}

#title-bar div {
    font-family: PressStart2P;
    font-size: 12px;

    text-align: center;
    background: linear-gradient(to right, #FF29A2 0%, #e699f9 50%, #d64bf9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1.hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

/* options/icons */
#options {
    position: absolute;
    top: 6vh;
    left: 0;
    max-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#options button {
    padding: 10px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 26px;
    text-align: center;
    background: linear-gradient(to bottom, #FF29A2, #991961);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#options button:active {
    transform: translate(2px, 2px);
    box-shadow: -2px -3px 0px rgba(0, 0, 0, 0.2);
}




main {
    height: 86vh;
}


/* footer */
footer {
    background: linear-gradient(to right, #ffcbe5 0%, #f8f8f8 50%, #f7d6ff 100%);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

footer button {
    border: solid 1px #FF29A2;
    border-radius: 23px;
    height: 5.5vh;
    text-align: center;
    width: max-content;
    font-size: 26px;
    padding: 9px 18px 0 18px;
    color: #FF29A2;
    background: linear-gradient(#f8f8f8 0%, #ffcbe5 110%);
}

footer button:active {
    transform: translate(2px, 2px);
}

.icon {
    height: 30px;
}

#home .icon {
    height: 25px;
}



/* general window */
.window {
    display: none;
    position: absolute;
    top: 10vh;
    left: 20vw;
    
    background: linear-gradient(#e1e1e1 0%, white 180%);
    /* background: #e1e1e1; */
    color:#565656;
    /* border: 1px solid #a0a0a0; */
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* window header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ffcbe5 0%, #f8f8f8 50%, #f7d6ff 100%);
    font-size: 25px;
    height: 26px;
    color: #FF29A2;
    padding: 10px 5px 0 10px;
    cursor: move;
    position: sticky;
    top: 0;
}

.close-button {
    cursor: pointer;
}

.close-button .icon {
    width: 20px;
}

/* window content */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}





/* Gallery */
#gallery-window {
    height: 53vh;
    width: 70vw;
}

#gallery-button {
    display: flex;
    position: absolute;
    bottom: -18px;
}

.nav-button {
    color: #FF29A2;
    font-size: 25px;
    cursor: pointer;
}

.nav-button:active {
    transform: translate(2px, 2px);
}




/* Bio */
#bio-info {
    font-size: 26px;
}

#bio-window {
    height: 30vh;
    width: 50vw;
    overflow: auto;
}

a {
    color: #007bff;
    text-decoration: underline;
}

a:hover {
    color: #0056b3;
}

a:visited {
    color: #9a9a9a;
}

a:active {
    color: #ff0000;
}


/* Playlist */
#playlist-window {
    height: 15vh;
    width: 80vw;
}

#audio-controls {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -18px;
}


/* Video */
#video-window {
    height: 36vh;
    width: 90vw;
}

#video-element {
    height: 30vh;
    width: 85vw;
}


/* Guestbook */
#guestbook-window {
    height: 68vh;
    width: 80vw;
}

#guestbook-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width: 90%;
    margin-bottom: 10px;
    font-size: 22px;
}

#guest-name, #guest-message {
    width: calc(100% - 20px);
    padding: 5px;
    font-size: 23px;
    border: 1px solid #ccc;
    background-color: white;
}

form #submit-guestbook {
    align-self: end;
    border: solid 1px #FF29A2;
    border-radius: 23px;
    text-align: center;
    width: max-content;
    font-size: 23px;
    padding: 6px 18px 0 18px;
    color: #FF29A2;
    background: linear-gradient(#f8f8f8 0%, #ffcbe5 110%);
    cursor: pointer;
}


form #submit-guestbook:active {
    transform: translate(2px, 2px);
}

::placeholder {
    font-size: 23px;
    color: rgb(150, 150, 150);
}

#guestbook-messages {
    max-height: 35vh;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    color: black;
}

.guest-message {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.guest-message span {
    display: block;
    font-size: 20px;
    color: #666;
}


.delete-button .icon {
    color: black;
    /* border: solid 1px black; */
    width: 20px;
    cursor: pointer;

    position: absolute;
    bottom: 0px;
    right: 10px;
}


/* Author */
#author-window {
    height: 30vh;
    width: 60vw;
    overflow: auto;
}

#author-info {
    font-size: 26px;
}

/* Send Likes */
.heart-animation {
    position: absolute;
    animation: heart 0.5s ease-out;
}

@keyframes heart {
    0% { transform: translateY(5px); opacity: 1; }
    100% { transform: translateY(-15px); opacity: 0; }
}



/* Language */
#language-options {
    position: absolute;
    bottom: 60px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.408);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    z-index: 1000;
    border-radius: 5px;
}

#language-options.hidden {
    display: none;
}

.language-option {
    border: none;
    border-radius: 15px;
    font-size: 23px;
}





/* Desktop view */
@media screen and (min-width: 800px) {
    #title-bar div {
        font-size: 13px;
    }

    #options button:hover {
        position: relative;
        top: -2px;
        box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    #options button:active {
        transform: translate(2px, 2px);
        box-shadow: -2px -3px 0px rgba(0, 0, 0, 0.2);
    }


    footer button:hover {
        box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    footer button:active {
        box-shadow: none;
    }

    #gallery-window {
        height: 80vh;
        width: 40vw;
    }
    #gallery-image {
        height: 70vh;
    }

    #bio-window {
        height: 30vh;
        width: 30vw;
    }

    #playlist-window {
        height: 20vh;
        width: 30vw;
    }

    #video-window {
        height: 60vh;
        width: 45vw;
    }

    #video-element {
        height: 52vh;
        width: 40vw;
    }

    #guestbook-window {
        height: 70vh;
        width: 50vw;
    }

    #author-window {
        height: 30vh;
        width: 30vw;
    }



}